<!--<div class="modal fade in add-category">-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="display:block">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">×</span></button>
      <h4 class="modal-title pull-left">{{task}} Type</h4>
    </div>
    <div class="modal-body">

      <form (ngSubmit)="onSubmit()" #forms=ngForm>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="name">Category</label>
              <input type="hidden" class="form-control"  [(ngModel)]="type.id" name="id" placeholder="id">
              <input type="text" class="form-control" #name=ngModel required [(ngModel)]="type.type" name="name" placeholder="category">
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <p *ngIf="name.hasError('required')">
                  Type is required
                </p>
              </div>
            </div>
          </div>
        </div>




        <div class="modal-footer">

          <button type="submit" class="btn btn-primary" [disabled]="forms.invalid"><i class="fa fa-save"></i></button>
        </div>
      </form>
    </div>

  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!--
</div>
-->
