<!--<div class="modal fade in add-category">-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="display:block">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title pull-left">{{task}} Category</h4>
      </div>
      <div class="modal-body">

        <form #imageForm = ngForm (ngSubmit)="onSubmit()">

          <div class = "row">
              <div class="input-field col-md-6">
                <input  name="id" type="hidden"  class="form-control" [(ngModel)]="category.id" placeholder="id">
              </div>
            </div>
              <div class="row">

            <div class="input-field col-md-6">
                <label for="category">Category</label>
                <input type="text"  name="name" #cat="ngModel" class="form-control" required minlength="3" [(ngModel)]="category.category" placeholder="category">
              <div *ngIf="cat.invalid && (cat.dirty || cat.touched)">
                <p *ngIf="cat.hasError('required')">
                  Category is required
                </p>
                <p *ngIf="cat.hasError('minlength')">
                  Minimum 3 Characters are Required
                </p>
              </div>
            </div>
          </div>
            <div class="row">
                <label for="photo"> Photo Upload </label>
                <input name="profile"  type="file" class="form-control" [(ngModel)]="category.photoPath" accept="image/*" (change)="onFileSelected($event)">
            </div>
          <div class="modal-footer">

            <button type="submit" class="btn btn-primary" [disabled]="imageForm.invalid"><i class="fa fa-save"></i></button>
          </div>


        </form>
    </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
<!--
</div>
-->
